.sectionSubTitle {
  position: relative;
  font-size: clamp(0.9375rem, 0.8482rem + 0.4464vw, 1.25rem);
  width: fit-content;
  margin-block-end: 15px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(108, 99, 255);
    position: absolute;
  }
}
