.header__navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.header__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  &_text {
    font-size: clamp(0.75rem, 0.5179rem + 1.1607vw, 1.5625rem);
  }

  &_image {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .header__navigation {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .header__hero {
    flex-direction: column;
    gap: 20px;
  }
}
